.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: #1b1b1b;
}

.container form {
  display: flex;
  justify-content: center;
}

.details_of_chat {
  height: 50px;
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 15px;
  border-bottom: 2px solid whitesmoke;
}

.details_of_chat img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.chats {
  height: 85vh;
}

.container form input {
  width: 70%;
  border: none;
  height: 35px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.container form button {
  background-color: #2c6bed;
  /* width: 15%; */
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 35px;
}

.chats ::-webkit-scrollbar {
  display: none;
}
